html {
     background:rgb(61, 61, 61);
     box-sizing: border-box;
}

* {
    /* border: 2px solid red */
    transition: all ease-in-out 250ms;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

div {
    padding: 5px 0;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1em;
    
}

.btn-fancy {
    background-color: hsla(198, 4%, 47%,1);
    color: white;
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.8);

}

.btn-fancy:hover {
    transform: translateY(-5px);
    background-color: hsla(191, 6%, 34%, 0.9);
    box-shadow: 0 15px 7px -7px rgba(0,0,0,.8);
}

.container {
    width: 70%;
    margin: auto;
}

.image {
    display: block;
    width: auto;
    height: 25em;
    margin-left: auto;
    margin-right: auto;

}

.title {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: white;
}

.sub-heading {
    color: white;
    text-decoration: underline;
    font-size: 24px;
}

.white-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}