html{
     background:rgb(61, 61, 61);
     box-sizing: border-box;
}

* {
    /* border: 2px solid red */
}

.container {
    width: 30em;
    margin: auto;
}

.image {
    display: block;
    width: auto;
    height: 25em;
    margin-left: auto;
    margin-right: auto;

}

.title {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

.sub-heading {
    color: white;
    text-decoration: underline;
    font-size: 24px;
}

.white-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}