h1 {
    font-weight: bold;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-underline-offset: 9px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.t1 {
    font-size: 18px;
}