html,
body {
    background: rgb(34,174,195);
    background: linear-gradient(270deg, rgba(34,174,195,1) 0%, rgba(253,155,45,1) 100%);
}

h1 {
    font-weight: bold;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: left+500px;
    color: white;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

.sub-heading {
    color: white;
    text-decoration: underline;
    font-size: 24px;
}